*{
    background-color: black;
    color: papayawhip;
}

div p{
    color: turquoise;
}

#link{
    color: salmon;
}

#platzi{
    color: greenyellow;
}

.platzi{
    color: red;
}