*{
    background-color: antiquewhite;
}
div{
    background-color: rgb(156, 101, 101);
}

.title{
    color: red;
}

#titulo{
    background-color: brown;
    color: aquamarine;
}

a[href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/CSS_basics"]{
    color: teal;
}

a[href="https://htmlcolorcodes.com/"]{
    color: olive;
}

